
.flexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.parentContainer {
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.TableContainer {
    overflow-x: auto;
}

.tablePaper {
    margin-top: 20px;
    padding-top: 20px;
    width: 90%;
    max-width: 1200px;
}

.squareAvatar {
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    border-radius: 4px !important;
}

.squareAvatar:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}

.iconOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 10px;
    visibility: hidden;
    transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out;
    opacity: 0;
}

.avatarWrapper {
    position: relative;
    cursor: pointer;
}

.avatarWrapper:hover .iconOverlay {
    visibility: visible;
    opacity: 1;
}

.editButton {
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
    background-color: #536C79 !important;
    margin-right: 5% !important;
}
.deleteButton {
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
    background-color: #B00020 !important;
}

.paginationContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    margin-top: 10px;
}

.paginationBorder {
    border-top: 20px solid #fefefe00;
    margin-bottom: 30px;
}

.customTableContainer {
    height: 787px; 
    overflow-y: auto;
}

@media (max-width: 768px) {
    .editButton {
        margin-bottom: 10px !important;
    }
}